.total {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}
.top {
    position: relative;
    background-image: url("../../assets/images/metal.jpg");
    background-size: cover;
    top: 0%;
    width: 100%;
    height: 50px;
}
.button {
    width: 50px;
    height: 100%;
    margin: auto;
}
.panels {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#panel {
    position: relative;
    background-image: url("../../assets/images/metal.jpg");
    background-size: cover;
    width: 50%;
    height: 100%;
    border: 5px solid black;
}
.initialPanel {
    visibility: hidden;
}
.closeLeftPanel {
    visibility: visible;
    animation: closeLeft 4s ease-out;
    animation-fill-mode: forwards;
}
.closeRightPanel {
    visibility: visible;
    animation: closeRight 4s ease-out;
    animation-fill-mode: forwards;
}
.openLeftPanel {
    visibility: visible;
    animation: openLeft 4s ease-in;
    animation-fill-mode: forwards;

}
.openRightPanel {
    visibility: visible;
    animation: openRight 4s ease-in;
    animation-fill-mode: forwards;
}
@keyframes closeLeft {
    0% {left: -60%}
    100% {left: 0%;} 
}
@keyframes closeRight {
    0% {left: 60%}
    100% {left: 0%;} 
}
@keyframes openLeft {
    0% {left: 0%}
    100% {left: -60%;} 
}
@keyframes openRight {
    0% {left: 0%}
    100% {left: 60%;} 
}
.verrou {
    position: relative;
    background-image: url("../../assets/images/metal.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 10%;
    top: 40%;
    border-radius: 50px;
}
#verrouAction{
    animation: verrou 2s ease forwards;
}
@keyframes verrou {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);} 
}