.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/space1.jpg);
    background-size: cover;
}

.project1 {
    height: 200px;
    width: 200px;
    background-image: url(../../assets/images/planete1.avif);
    background-position: center;
    background-size:170%;
    border-radius: 100px;
    margin: auto;
    display: flex;
    transform: translateX(-400px) translateY(-300px);
}

.project1 p {
    margin: auto;
}