.container {
  position: absolute;
    height: 25vh;
    width: 50vw;
    background-image: url("../../../assets/images/metal.jpg");
    padding: 10px;
    border-radius: 10px;
    z-index: 4;
    left: 25vw;
    display: flex;
    flex-direction: column;
}
.destinations{
  flex: 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  
  border-radius: 10px;
}
.destination{
  width: auto;
  flex: 1;
  align-items: center;
  text-align: center;

  font-size: 2em;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}
.screen {
  background-color: #000000;
  border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    align-self: flex-end;
    width: 100%;
  }
  .instructions {
      display: flex;
      justify-content:space-around;
      color: cadetblue;
      font-size: 3rem;
      height: 10%;
      min-height: 4rem;
      width: 100%;
  }
  .instruction{
      transform: translateX(300%) ;
      animation: nav-instruction 6s linear 0s infinite forwards ;
  }
  .instruction2{
    transform: translateX(200%) ;
    animation: nav-instruction2 6s linear 3s infinite forwards ;
  }
.button {
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  background-color: red;
  pointer-events: all;
}

@keyframes nav-instruction{
    from {
        transform: translateX(300%) ;
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes nav-instruction2{
    from {
        transform: translateX(200%) ;
    }
    to {
        transform: translateX(-200%);
    }
}

.upPanel {
  transform: translateY(-18vh);
  animation: upPanel 1000ms ease-in-out 0 1 forwards;
}
.downPanel {
  transform: translateY(20vh);
  animation: upPanel 1000ms ease-in-out 0 1 backwards;
}

@keyframes upPanel {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18vh);
  }
}
@keyframes downPanel {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18vh);
  }
}